<#@ template language="C#" debug="True" hostspecific="false" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Reflection" #>
<#@ assembly name="$(SolutionDir)\Ilsp.BitacoraIvr.EntIdentity\bin\Debug\Ilsp.BitacoraIvr.EntIdentity.dll" #>
<#@ Assembly Name="System.Core, Version=4.0.0.0, Culture=neutral" #>
<#@ Assembly Name="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral" #>
<#@ import namespace="Ilsp.BitacoraIvr.EntIdentity" #>

<#@ include file="T4Toolbox.tt" #>
<#@ output extension="cs" #>
<#
 
	var assembly = typeof(Ilsp.BitacoraIvr.EntIdentity.AspNetStatus).Assembly;
	var types= assembly.GetTypes().Where(t=> t.GetCustomAttributes(true).Any(a => a.GetType().Name.Contains("Table")));
	foreach(var type in types)
	{
		RepositoryTemplate template = new RepositoryTemplate(type);
		string[] nameClass = type.Name.Split('_');
		var res = "";
		foreach (var s in nameClass)
		{
			res += char.ToUpper(s[0]) + s.Substring(1);
		}
		template.Output.File = res + "Bl.cs";
		template.Render();
	}
#>

<#+
public partial class RepositoryTemplate : Template
{
	private Type type;
	public RepositoryTemplate(Type type)
	{
		this.type = type;
	}

	public override string TransformText()
	{
		string repClass="using System;\n"
		+"using System.Collections.Generic;\n"
		+"using System.Linq;\n"
		+"using Ilsp.BitacoraIvr.Ent.Common;\n"
		+"using Ilsp.BitacoraIvr.EntIdentity;\n"
		+"using Ilsp.BitacoraIvr.Rp.Identity;\n"
		+"using Ilsp.BitacoraIvr.Tl.ExpressionBuilder.Builders;\n"
		+"\n"
		+"namespace Ilsp.BitacoraIvr.Bl.IdentityEf\n"
		+"{\n"
		+"	public partial class REP_NAMEBl : BaseBl<" + type.Name + ", REP_NAMERepository>, IDisposable\n"
		+"	{\n"
		+"        private readonly string _connection;\n"
		+"        private readonly string _secondConnection;\n"
		+"        private readonly string _userName;\n"
		+"        private readonly ExpressionBuilder _builder;\n"
		+"\n"
		+"        public REP_NAMEBl(string connection, string userName, string secondConnection = null)\n"
		+"        {\n"
		+"            Repository.Init(new Dl.Identity.Identity(connection));\n"
		+"            _connection = connection;\n"
		+"            _secondConnection = secondConnection;\n"
		+"            _userName = userName;\n"
		+"            _builder = new ExpressionBuilder();\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Get al rows of " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <returns></returns>\n"
		+"        public IEnumerable<" + type.Name + "> GetAll()\n"
		+"        {\n"
		+"            return Repository.GetAll();\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Method to get list by filters\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"filters\">Filters</param>\n"
		+"        /// <param name=\"sorts\">Orders</param>\n"
		+"        /// <param name=\"logic\">Contains or Equals</param>\n"
		+"        /// <param name=\"includes\">Another Entities</param>\n"
		+"        /// <returns></returns>\n"
		+"        public IEnumerable<" + type.Name + "> GetList(List<Filter> filters, List<KendoSort> sorts, string logic, string[] includes = null)\n"
		+"        {\n"
		+"            var order = string.Join(separator: \",\",\n"
		+"				value: sorts.Select(x => string.Format(format: \"{0} {1}\", arg0: x.Field, arg1: x.Dir)).ToArray());\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(filters, logic);\n"
		+"            return Repository.GetList(predicate, order, includes);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Method to get list of rows in pages\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"model\">Object that contains data to create pages</param>\n"
		+"        /// <param name=\"logic\">Contains or Equals</param>\n"
		+"        /// <param name=\"includes\">Another Entity</param>\n"
		+"        /// <returns></returns>\n"
		+"        public KendoResponse GetListPager(KendoRequest model, string logic, string[] includes = null)\n"
		+"        {\n"
		+"            var order = string.Empty;\n"
		+"            // order the results\n"
		+"            if (model.Sort != null && model.Sort.Count > 0)\n"
		+"            {\n"
		+"                order = string.Join(separator: \",\",\n"
		+"                    value: model.Sort.Where(x => !string.IsNullOrEmpty(x.Dir)).Select(x => string.Format(format: \"{0} {1}\", arg0: x.Field, arg1: x.Dir))\n"
		+"                        .ToArray());\n"
		+"            }\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(model.Filter.Filters, logic);\n"
		+"            var response = Repository.GetListPager(predicate, order, model.Skip, model.Take, includes);\n"
		+"            return new KendoResponse(response.Items.ToArray(), response.Total);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Select one row\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for search row</param>\n"
		+"        /// <param name=\"includes\">Another Entity</param>\n"
		+"        /// <returns></returns>\n"
		+"        public " + type.Name + " GetOne(List<Filter> propertiesCondition, string[] includes = null)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            return Repository.GetFirst(predicate, includes);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Save new register on " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"item\">Row to create</param>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for search duplicate rows</param>\n"
		+"        /// <param name=\"errors\"></param>\n"
		+"        /// <param name=\"condition\">Condition</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool Save(" + type.Name + " item, List<Filter> propertiesCondition, List<string> errors, string condition = \"AND\")\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition, condition);\n"
		+"            var itemonDb = Repository.GetFirstOrDefault(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                return Repository.Save(item);\n"
		+"            }\n"
		+"            errors.Add(Resources.Resource.The_Name_Already_Exist);\n"
		+"            return false;\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Save new register on " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"item\">Row to create</param>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for search duplicate rows</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool SaveWithOutTransaction(" + type.Name + " item, List<Filter> propertiesCondition)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            var itemonDb = Repository.GetFirstOrDefault(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                return Repository.SaveWithOutTransaction(item);\n"
		+"            }\n"
		+"            //Mensaje el registro ya existe\n"
		+"            return false;\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Update from " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for get row to update</param>\n"
		+"        /// <param name=\"action\">Specific roperties to update</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool Update(List<Filter> propertiesCondition, Action<" + type.Name + "> action)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            var itemonDb = Repository.GetFirst(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                //Mensaje el registro no existe\n"
		+"                return false;\n"
		+"            }\n"
		+"            return Repository.Update(itemonDb, action);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Update from " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for get row to update</param>\n"
		+"        /// <param name=\"action\">Specific roperties to update</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool UpdateWithOutTransaction(List<Filter> propertiesCondition, Action<" + type.Name + "> action)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            var itemonDb = Repository.GetFirst(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                //Mensaje el registro no existe\n"
		+"                return false;\n"
		+"            }\n"
		+"            return Repository.UpdateWithOutTransaction(itemonDb, action);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Physical delete from " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for get row to delete</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool Delete(List<Filter> propertiesCondition)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            var itemonDb = Repository.GetFirst(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                //Mensaje el registro no existe\n"
		+"                return false;\n"
		+"            }\n"
		+"            return Repository.Delete(itemonDb);\n"
		+"        }\n"
		+"\n"
		+"        /// <summary>\n"
	    +"        /// Physical delete from files_gps_historic\n"
	    +"        /// </summary>\n"
	    +"        /// <param name=\"propertiesCondition\">Properties to make condition for get row to delete</param>\n"
		+"        /// <param name=\"condition\">AND or OR</param>\n"
	    +"        /// <returns></returns>\n"
	    +"        public bool DeleteMultiple(List<Filter> propertiesCondition, string condition)\n"
	    +"        {\n"
	    +"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition, condition);\n"
	    +"            var itemsonDb = Repository.GetList(predicate, string.Empty).ToList();\n"
	    +"            if (!itemsonDb.Any())\n"
	    +"            {\n"
	    +"                //Mensaje el registro no existe\n"
	    +"                return false;\n"
	    +"            }\n"
	    +"            return Repository.DeleteMassive(itemsonDb);\n"
	    +"        }\n"
		+"\n"
		+"        /// <summary>\n"
		+"        /// Physical delete from " + type.Name + "\n"
		+"        /// </summary>\n"
		+"        /// <param name=\"propertiesCondition\">Properties to make condition for get row to delete</param>\n"
		+"        /// <returns></returns>\n"
		+"        public bool DeleteWithOutTransaction(List<Filter> propertiesCondition)\n"
		+"        {\n"
		+"            var predicate = _builder.GetFilterExpression<" + type.Name + ">(propertiesCondition);\n"
		+"            var itemonDb = Repository.GetFirst(predicate);\n"
		+"            if (itemonDb == null)\n"
		+"            {\n"
		+"                //Mensaje el registro no existe\n"
		+"                return false;\n"
		+"            }\n"
		+"            return Repository.DeleteWithOutTransaction(itemonDb);\n"
		+"        }\n"
		+"\n"
		+"        public void Dispose()\n"
		+"        {\n"
		+"            GC.SuppressFinalize(this);\n"
		+"        }\n"
		+"	}\n"
		+"}";
		string[] nameClass = type.Name.Split('_');
		var res = "";
		foreach (var s in nameClass)
		{
			res += UppercaseFirst(s);
		}
		repClass = repClass.Replace("REP_NAME", res);
		repClass = repClass.Replace("REP_TYPE", type.Name);
		this.WriteLine(repClass);
		return this.GenerationEnvironment.ToString();
	}

	private string UppercaseFirst(string s)
    {
        // Check for empty string.
        if (string.IsNullOrEmpty(s))
        {
            return string.Empty;
        }
        // Return char and concat substring.
        return char.ToUpper(s[0]) + s.Substring(1);
    }
}
#>